﻿@model dynamic

@{
    ViewBag.Title = "Index";
}
@{
    var totalProductos = 0;
    foreach (Producto item in Model.ProductosCarro)
    {
        totalProductos += item.pro_cantidad;
    }

}
<br />

<a href="@Url.Action("ListarProdutoCarro", "Productos", null, null)" class="btn btn-danger">
    <span class="glyphicon glyphicon-shopping-cart"> </span>
    (@totalProductos)
</a>

<h2 class="text-center text-info">Historial de Compras</h2>
<hr />

@{
    if (Model.Pedidos.Count != 0)
    {
        <h2 class="text-muted">Datos del Cliente</h2>
        <p class="text-muted">
            <strong> Identidificacion:</strong> @Model.Cliente.cli_identificacion
        </p>

        <p class="text-muted">
            <strong> Cliente:</strong> @(Model.Cliente.cli_nombre + " "+ Model.Cliente.cli_apeliido)
        </p>

        <table class="table table-striped table-hover table-responsive ">
            <tr class="text-info">
                <th>
                    Fecha
                </th>
                <th class="text-center">
                    Productos
                </th>
                <th>
                    Monto
                </th>

            </tr>
            @foreach (Pedido item in Model.Pedidos)
            {
                <tr class="text-muted te">
                    <td>
                        <strong> @Html.DisplayFor(modelItem => item.ped_fecha_registro)</strong>
                    </td>
                    <td class="text-center">
                        <strong> @Html.DisplayFor(modelItem => item.ped_total_productos)</strong>
                    </td>
                    <td>
                        <strong>  € @Html.DisplayFor(modelItem => item.ped_monto)</strong>
                    </td>

                </tr>
            }
        </table>
    }
    else
    {
        <p class="text-muted">No registra ninguna compra.</p>
    }

}









