﻿@model TiendaVirtualWeb.Producto

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Libro</h2>

<h3>Seguro que desea eliminar el libro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imagen
        </dt>

        <dd style="width:50px;">
            <img class="img-responsive" style="width:100%;"
                 src="~/Content/imagenes/@Html.DisplayFor(model => model.por_imagen)"
                 alt="imagen" />
        </dd>
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_nombre)
        </dd>

        <dt>
            Cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_cantidad)
        </dd>

        <dt>
            Precio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_precio)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_descripcion)
        </dd>

        <dt>
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_fecha_registro)
        </dd>

        <dt>
            Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_categoria)
        </dd>

        <dt>
            Autor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_autor)
        </dd>

        <dt>
            Isbn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_isbn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Ir a Lista", "Index")
        </div>
    }
</div>
