﻿@model TiendaVirtualWeb.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Información del Librp</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imagen
        </dt>

        <dd style="width:50px;">
            <img class="img-responsive" style="width:100%;"
                 src="~/Content/imagenes/@Html.DisplayFor(model => model.por_imagen)"
                 alt="imagen" />
        </dd>
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_nombre)
        </dd>

        <dt>
            Cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_cantidad)
        </dd>

        <dt>
            Precio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_precio)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_descripcion)
        </dd>

        <dt>
           Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_fecha_registro)
        </dd>

        <dt>
         Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_categoria)
        </dd>

        <dt>
           Autor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_autor)
        </dd>

        <dt>
           Isbn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_isbn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Ir a Lista", "Index")
</p>
