﻿@model dynamic

@{
    ViewBag.Title = "Index";
}

<h2 class="text-info text-center">Gestión Productos</h2>

<p>
    <a href="@Url.Action("Create", "Productos", null, null)" class="btn btn-success">
        <span class="glyphicon glyphicon-plus">Agregar</span>
    </a>
</p>
<table class="table table-hover table-responsive">
    <tr class="text-primary">
        <th width="50px">
            Portada
        </th>
        <th>
            Nombre
        </th>
        <th>
           Cantiad
        </th>
        <th>
          Precio
        </th>
        <th>
          Fecha
        </th>
        <th>
            Categoria
        </th>
        <th>
           Autor
        </th>
        <th>
           Isbn
        </th>
        <th class="text-center text-danger"> <strong>Acciones</strong></th>
    </tr>

@foreach (Producto item in Model.Productos) {
    <tr>
        <td>
            <img class="img-responsive" style="width:100%;"
                 src="~/Content/imagenes/@Html.DisplayFor(modelItem => item.por_imagen)"
                 alt="imagen" />
        </td>
        <td class="text-info aling-vertical-center">
            @Html.DisplayFor(modelItem => item.pro_nombre)
        </td>
        <td class="text-primary aling-vertical-center">
            @Html.DisplayFor(modelItem => item.pro_cantidad)
        </td>
        <td class="text-primary aling-vertical-center">
            € @Html.DisplayFor(modelItem => item.pro_precio)
        </td>
        <td class="text-primary aling-vertical-center">
            @Html.DisplayFor(modelItem => item.pro_fecha_registro)
        </td>
        <td class="text-primary aling-vertical-center">
            @Html.DisplayFor(modelItem => item.pro_categoria)
        </td>
        <td class="text-primary aling-vertical-center">
            @Html.DisplayFor(modelItem => item.pro_autor)
        </td>
        <td class="text-primary aling-vertical-center">
            @Html.DisplayFor(modelItem => item.pro_isbn)
        </td>
        <td class="text-center aling-vertical-center">
            <a href="@Url.Action("Edit", "Productos", new { id=item.Id }, null)" class="btn btn-primary"
               data-toggle="tooltip" title="Editar"> 
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a href="@Url.Action("Details", "Productos", new { id=item.Id }, null)" class="btn btn-default" 
               data-toggle="tooltip" title="Detalles">
                <span class="glyphicon glyphicon-info-sign"></span>
            </a>
            <a  href="@Url.Action("Delete", "Productos", new { id=item.Id }, null)" class="btn btn-danger"
               data-toggle="tooltip" title="Eliminar">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
    </tr>
}

</table>
