﻿@model dynamic

@{
    ViewBag.Title = "ListarProdutoCarro";
}

@{
    var totalProductos = 0;
    foreach (Producto item in Model.ProductosCarro)
    {
        totalProductos += item.pro_cantidad;
    }
}
<br />
<a href="@Url.Action("ListarProdutoCarro", "Productos", null, null)" class="btn btn-danger">
    <span class="glyphicon glyphicon-shopping-cart"> </span>
    (@totalProductos)
</a>
<h2 class="text-center text-info">Productos del Carro</h2>

@{

    if (Model.ProductosCarro.Count != 0)
    {
        decimal totalCompra = 0.0M;


        <table class="table table-hover table-responsive">
            <tr class="text-info">
                <th width="100px">
                    Portada
                </th>
                <th>
                    Producto
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Precio Uitario
                </th>
                <th>
                    Total
                </th>
                <th></th>
            </tr>
            <tbody class="text-info">
                @foreach (Producto item in Model.ProductosCarro)
                {
                    <tr>
                        <td>
                            <img class="img-responsive" style="width:100%;"
                                 src="~/Content/imagenes/@Html.DisplayFor(modelItem => item.por_imagen)"
                                 alt="imagen" />
                        </td>
                        <td class="aling-vertical-center">
                            @Html.DisplayFor(modelItem => item.pro_nombre)
                        </td>
                        <td class="aling-vertical-center">
                            @Html.DisplayFor(modelItem => item.pro_descripcion)
                        </td>

                        <td class="aling-vertical-center">
                            @Html.DisplayFor(modelItem => item.pro_categoria)
                        </td>
                        <td class="text-center aling-vertical-center">
                            @Html.DisplayFor(modelItem => item.pro_cantidad)
                        </td>
                        <td class="text-center aling-vertical-center">
                            €  @Html.DisplayFor(modelItem => item.pro_precio)
                        </td>

                        <td class="text-center aling-vertical-center">
                            €  @(item.pro_precio * Convert.ToDecimal(item.pro_cantidad))
                        </td>
                        <td class="text-center aling-vertical-center">
                            <a href="@Url.Action("RemoverProdutoCarro", "Productos",new { id = item.Id }, null)" class="btn btn-primary">
                                <span class="glyphicon glyphicon-trash"> </span>
                            </a>
                        </td>
                    </tr>
                    totalCompra += item.pro_precio * Convert.ToDecimal(item.pro_cantidad);
                }
            </tbody>
        </table>
        <h1 class="text-right text-success">Total a pagar : € @totalCompra</h1>
        <h1 class="text-right">
            <a href="@Url.Action("GenerarPedido", "Productos", null, null)" class="btn btn-success text-right">
                <span class="glyphicon glyphicon-shopping-cart"> </span>
                Confirmar Compra
            </a>
        </h1>
    }
    else
    {
        <p class="text-muted">No existen productos agregados al carro.</p>
    }

}
