﻿@model dynamic
@{
    ViewBag.Title = "Tienda";
}

@{
    var totalProductos = 0;
    foreach (Producto item in Model.ProductosCarro)
    {
        totalProductos += item.pro_cantidad;
    }

}
<br />
<a href="@Url.Action("ListarProdutoCarro", "Productos", null, null)" class="btn btn-danger">
    <span class="glyphicon glyphicon-shopping-cart"> </span>
    (@totalProductos)
</a>

<div class="container">
    <br />
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="navbar-form navbar-right">
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    <div class="form-group">
                        <input id="busqueda" name="busqueda" type="text" class="form-control" placeholder="Buscar">
                    </div>
                    <input type="submit" value="Buscar" class="btn btn-default" />
                }
            </div>
        </div>
    </div>
</div>

@foreach (Producto item in Model.Productos)
{

    <div class="row">
        <div class="col-md-2">
            <img class="img-responsive" style="width:100%;"
                 src="~/Content/imagenes/@Html.DisplayFor(modelItem => item.por_imagen)"
                 alt="imagen" />
        </div>
        <div class="col-md-8">
            <h2 class="text-primary">@Html.DisplayFor(modelItem => item.pro_nombre)</h2>
            <p class="text-info">
                @Html.DisplayFor(modelItem => item.pro_descripcion)
            </p>
            <p class="text-muted">
                <strong>Autor:</strong> @Html.DisplayFor(modelItem => item.pro_autor) <strong>|</strong>
                <strong>ISBN:</strong> @Html.DisplayFor(modelItem => item.pro_isbn)
            </p>

            <p class="text-danger">
                <strong>€ @Html.DisplayFor(modelItem => item.pro_precio)</strong>
            </p>
            <a id="stock" href="@Url.Action("AddProdutoCarro", "Productos", new { id = item.Id },null)"
               class="btn btn-success">
                <span class="glyphicon glyphicon-shopping-cart"> </span>
                Agregar al Carro
            </a>
        </div>
        <div class="col-md-2">
            @if (item.pro_cantidad > 0)
                {

                    if (item.pro_cantidad > 6)
                    {
                    <h2 class="text-center text-success">Disponibles</h2>
                    <h1 class="text-center text-success">
                        <strong>@Html.DisplayFor(modelItem => item.pro_cantidad)</strong>
                    </h1>
                }
                else
                {
                    <h2 class="text-center text-danger">Disponibles</h2>
                    <h1 class="text-center text-danger">
                        <strong>@Html.DisplayFor(modelItem => item.pro_cantidad)</strong>
                    </h1>
                    <p class="text-center text-danger">Adquierelo pronto, estan por agotarce!!!</p>
                }
            }
            else
            {
                <img class="img-responsive" style="width:100%;"
                     src="~/Content/imagenes/agotado2.jpg"
                     alt="agotado" />
            }

        </div>
    </div>
    <hr class="alert-success" />
}
